:root{
    --principal: #9394df;
    --celeste: #a4d4e0;
    --rosa:#f899e4;
}
body{
    font-family: 'Montserrat', sans-serif;
   
}
nav.navbar{
    color:rgb(66, 68, 70);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: .025rem;
}
.navbar li a:hover{
    color: var(--rosa) !important;
}
.navbar li a.active{
    font-weight: 600;
    color: var(--rosa) !important;
}
.navbar .navbar-brand{
    color: var(--principal);
}
ul{
    padding-left: 15px;
}
p, li{
    font-family: 'Raleway', sans-serif;
}
header{
    position: relative;
    text-shadow: 5px 3px 5px rgba(00,00,00,0.2);
}
.line{
    width: 100px;
    height: 2px;
    background:var(--principal);
}
header.bg-img{
    background-image: url('../img/bg-img-romi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    height: 100vh;
}
header h2.subtitle{
    letter-spacing: .025rem;
}
header > section{
    margin-top: 60vh;
}
footer{
    background: var(--celeste);
}
#trabajos{
    background: var(--principal);
}
.modal-body{
    height: 70vh;
    overflow: scroll;
}
.col-xs-4 {
    width: 33% !important;
}
.card-img{
    display: inline-block;
    vertical-align: middle;
    height: 13rem;
    box-sizing: border-box;
}
.card-img-top{
    height: 100%;
    object-fit: cover;
}
