:root{
    --principal: #9394df;
    --celeste: #a4d4e0;
    --rosa:#f899e4;
}
body{
    font-family: 'Montserrat', sans-serif;
   
}
nav.navbar{
    color:rgb(66, 68, 70);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: .025rem;
}
.navbar li a:hover{
    color: var(--rosa) !important;
}
.navbar li a.active{
    font-weight: 600;
    color: var(--rosa) !important;
}
.navbar .navbar-brand{
    color: var(--principal);
}
p, li{
    font-family: 'Raleway', sans-serif;
}
header{
    position: relative;
    color: var(--principal);
}
.line{
    width: 100px;
    height: 2px;
    background:var(--principal);

}
header.bg-img{
    background-image: url('../img/bg-img-romi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    height: 100vh;
}

header h2.subtitle{
    letter-spacing: .025rem;
}

footer{
    background: var(--celeste);
}
#trabajos{
    background: var(--rosa);
}
.modal-body{
    height: 70vh;
    overflow: scroll;
}
    